body {
  font-family: arial, sans-serif;
  background-color: turquoise;
  margin: 0;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40vh;
}

@keyframes intro-text {
  from {
    padding-top: 40vh;
  }
  to {
    padding-top: 0;
  }
}

.title {
  animation-name: intro-text;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
