body {
  font-family: sans-serif;
  width: 86%;
  max-width: 600px;
  margin: 40px auto auto 40px;
  line-height: 1.5;
}

.link:hover {
  cursor: help;
}

.tooltip {
  width: 400px;
  height: 100px;
  border: 2px solid black;
  padding: 10px 20px;
  margin: 10px auto;
}

.start-position {
  position: relative;
}

.tooltip-html {
  position: absolute;
  top: -6px;
  right: -70px;
}

.tooltip-css {
  position: absolute;
  top: 17px;
  right: -70px;
}

.tooltip-javascript {
  position: absolute;
  top: 44px;
  right: -95px;
}

.tooltip-html,
.tooltip-css,
.tooltip-javascript {
  display: none;
}

.tooltip-html:hover {
  display: block;
}
