/************ RESET STYLES ************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/************* HEADER STYLES *************/

.header {
  background: black;
  width: 100%;
  height: 421px;
  margin-bottom: 50px;
}

.header-main {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  z-index: 1000;
}

/* header: contenedor nombre del grupo */
.header-team-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 15px;
  background-color: #099d8d;
}

/* header: elementos del contenedor nombre del grupo */
.logo {
  height: 50px;
}

/* header: contenedor menú navegación */
.header-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 17px 7px 16px;
  background-color: #14d9c4;
  margin: 0;
}

/* header: elementos del contenedor menú navegación */
.list-item {
  text-transform: uppercase;
}

.link {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 2;
}

/************* HERO SECTION STYLES *************/

.hero-main {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 150px 0 20px 0;
}

.hero-avatar-list {
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 30px 0 30px;
}

.hero-avatar {
  margin: 6px;
}

.hero-avatar-image {
  box-sizing: border-box;
  border: 3px solid rgb(39, 39, 39);
  width: 65px;
  height: 65px;
}

.hero-avatar-name {
  color: rgb(145, 145, 145);
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.hero-claim-box {
  background: white;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: static;
  padding: 12px;
  margin: 12px 40px;
}

.hero-claim {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

/************* EQUIPO STYLES  *************/

.about {
  /* margin: 0 15px; */
  /* background-color: white; */
  text-align: center;
}
.about-title {
  text-align: center;
  /* margin-top: 30px; */
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "rubik";
  line-height: 45px;
  color: #14d9c4;
  text-transform: uppercase;
}

.about-text {
  text-align: center;
  font-family: "open sans";
  font-size: 16px;
  line-height: 24px;
  color: #54585a;
  margin-bottom: 30px;
}

/* FORTALEZAS Y DEBILIDADES STYLES */

.strengths-weaknesses-container {
  /* margin: 0; */
  background-color: rgb(184, 184, 185, 0.2);
  text-align: center;
}
.square {
  height: 50px;
  width: 50px;
  background-color: white;
  transform: translate(0, -115%) rotate(-45deg);
  margin: auto;
}

.strengths-weaknesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 15px; */
}

.strengths-weaknesses-title {
  font-family: "rubik";
  font-size: 22px;
  line-height: 45px;
  color: #099d8d;
  margin-top: 30px;
}

.strengths-weaknesses-text {
  /* align-items: center; */
  text-align: center;
  font-family: "open sans";
  font-size: 16px;
  line-height: 24px;
  color: #54585a;
}

.strengths-weaknesses-text {
  margin-bottom: 45px;
}

/************** ADALABERS section styles ***************/

.adalabers {
  text-align: center;
}

.adalabers-wrapper {
  margin: 0 30px;
  padding-top: 30px;
}

.adalabers-title {
  margin: 30px 0;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.88;
  color: #099d8d;
}

.adalabers-card {
  margin-bottom: 45px;
  font-family: "Open Sans";
  font-size: 1rem; /* 16px */
}

/* container for a responsive img */
.card-image-container {
  margin: 0 auto;
  max-width: 180px;
  max-height: 180px;
  overflow: hidden; /* review */
}

.card-image {
  display: block;
  width: 100%;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.card-info-container {
  width: 100%;
  margin: 0 auto;
}

.card-name {
  margin: 15px 0;
  font-size: 1.25rem;
  line-height: 2.25;
}

.card-text {
  color: #54585a;
  line-height: 1.5;
  margin-bottom: 15px;
}

.card-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.card-link {
  color: black;
  text-decoration: none;
}

/* icons style and cosmetics*/

.fab,
.fas {
  color: #099d8d;
  font-size: 1rem; /* 16px */
}

.fab::after {
  content: "·";
  color: #54585a;
  padding: 5px;
}

/************* FOOTER styles *************/

.footer {
  border-top: 1px solid #b8b8b9;
  width: 100%;
  text-align: center;
  padding: 30px auto 45px auto;
}

.footer-copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #b8b8b9;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer-menu {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  color: #54585a;
  opacity: 0.75;
  text-transform: uppercase; /*para convertir en mayúsculas*/
  margin-bottom: 30px;
}

.footer-list {
  list-style: none;
  padding: 0;
} /*para quitar los puntos y el padding de los <li>*/

.footer-image {
  margin: 0 auto;
  max-width: 100px;
  padding-bottom: 45px;
} /*contenedor para que la imagen se ajuste al ancho*/

.footer-logo {
  width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

/************** TABLET mediaqueries ****************/

@media all and (min-width: 768px) {
  /* HEADER media */

  .header-team-name {
    justify-content: flex-start;
    padding: 15px 0 15px 45px;
  }
  .header-list {
    position: absolute;
    top: 15%;
    right: 0;
    width: 45%;
    background-color: #099d8d;
    padding: 16px 45px 14px 0;
    margin: 0;
  }

  .link {
    line-height: 1.88;
  }

  /* HERO media */

  .hero-title {
    font-size: 38px;
    padding-top: 125px;
  }

  .hero-avatar {
    margin: 10px;
  }

  .hero-avatar-list {
    flex-wrap: nowrap;
  }

  .hero-avatar-image {
    border: 5px;
    width: 120px;
    height: 120px;
  }

  .hero-avatar-name {
    font-size: 16px;
  }

  .hero-claim-box {
    margin-top: 23px;
    margin-right: 300px;
  }

  .hero-claim {
    font-size: 21px;
  }

  /* ABOUT media */

  .about-text {
    padding-bottom: 60px;
  }

  .strengths-weaknesses {
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
  }

  /* ADALABERS media */

  .adalabers-title {
    margin: 45px 0;
  }

  .adalabers-card {
    margin-bottom: 60px;
  }

  .card-wrapper {
    display: flex;
    align-items: center;
  }

  .card-reverse {
    flex-direction: row-reverse;
  }

  .card-image-container {
    margin: 0 auto;
    max-width: 205px;
    max-height: 205px;
  }

  .card-info-container {
    text-align: left;
    margin-left: 30px;
    width: 70%;
  }

  .info-reverse {
    margin-right: 30px;
    margin-left: 0;
  }

  .card-list {
    margin: 0;
  }

  /* FOOTER media */

  .footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 30px 45px 60px 45px;
  }

  .footer-menu {
    order: 1; /*para poner el bloque de menú a la dcha*/
    text-align: right;
    line-height: 2.14;
  }

  .footer-image {
    position: absolute; /*para sacar el logo del flujo*/
    top: 45%;
  }
}

/* DESKTOP mediaqueries */

@media all and (min-width: 1200px) {
  /* HEADER media */

  .header {
    height: 550px;
  }

  .header-team-name {
    padding: 15px 0 15px 142px;
  }
  .header-list {
    width: 35%;
    padding: 16px 138px 14px 0;
  }
  .link {
    line-height: 2;
  }

  .hero-avatar-list {
    flex-wrap: nowrap;
  }

  /* HERO media */

  .hero-title {
    font-size: 48px;
  }

  .hero-avatar {
    margin: 14px;
  }

  .hero-avatar-image {
    border: 6px;
    width: 170px;
    height: 170px;
  }

  .hero-avatar-name {
    font-size: 20px;
  }

  .hero-claim-box {
    padding: 12px;
    margin: 75px 500px 0 40px;
  }

  .hero-claim {
    font-size: 24px;
  }

  /* ABOUT media */

  .about {
    /* max-width: 50%; */
  }

  .about-text {
    padding-bottom: 60px;
  }

  .strengths-weaknesses {
    padding-bottom: 60px;
  }

  /* ADALABERS media */
  .adalabers-card {
    max-width: 50rem;
    margin: 60px auto;
  }

  .card-wrapper {
    justify-content: center;
  }

  .card-image-container {
    margin: 0 auto;
    max-width: 278px;
    max-height: 278px;
  }

  .card-info-container {
    text-align: left;
    margin-left: 45px;
    width: 27rem;
  }

  /* FOOTER media */

  .footer {
    padding: 30px 138px 60px 138px;
  }
}
