.form {
  width: 100%;
  margin-left: 30px;
}

fieldset {
  border: 0;
}

.text {
  font-family: arial, sans serif;
}

.formInput {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
}

.accept-terms {
  font-family: arial, sans serif;
  margin-bottom: 15px;
}

.formInputBlock {
  display: block;
  margin-top: 10px;
}

.text-container {
  font-family: arial, sans serif;
}

.birthday-fieldset {
  font-family: arial, sans serif;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 0;
}

.birthday-styles {
  margin-top: 10px;
}

.sex-field {
  font-family: arial, sans serif;
  margin-bottom: 15px;
}

small {
  font-family: arial, sans serif;
}

.resetButton,
.submitButton {
  display: block;
  width: 150px;
  margin-top: 15px;
}
