body {
  font-family: sans-serif;
  width: 86%;
  max-width: 600px;
  margin: 40px auto auto 40px;
  line-height: 1.5;
}

.tooltip {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  padding: 10px 20px;
  margin: 10px auto;
  overflow: auto;
  display: none;
  border-radius: 3px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  cursor: help;
}

.link:hover .tooltip {
  cursor: help;
  display: block;
}
