body {
  margin: 0;
}

.main {
  font-family: arial, sans-serif;
  background-color: turquoise;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  transform: translate(0, -60px);
}

@keyframes intro-text {
  from {
    transform: translate(0, -60px);
  }
  to {
    transform: translate(0, 40vh);
  }
}

.title {
  animation-name: intro-text;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
