body {
  background-color: paleturquoise;
  padding: 30px;
}

.inputStyles {
  display: block;
  width: 300px;
  padding: 10px;
  margin: 5px;
}

.emailAdress::placeholder {
  position: relative;
  bottom: -30px;
}

/* .emailAdress:hover .emailAdress::placeholder {
  animation-name: placeholder;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframe placeholder {
  from {
    color: grey;
    font-size: 16px;
    transform: translate(0, 0);
  }
  to {
    color: black;
    font-size: 10px;
    transform: translate(0, -30px);
  }
} */
