body {
  background-color: #173a17;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.white {
  color: white;
}

.blue {
  color: blue;
}

.pink {
  color: pink;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}
