.container {
  box-sizing: border-box;
  background-color: palevioletred;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border: 15px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
